
.fondoHeader{
    background-color: black;
    color: white;
}


.mainFirst{
    background-image: url(./assets/bar.png);
    align-content: center;
    border: 2px solid #000;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    padding: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}


.hs{
    color:blue;
    font-family: 'Fuggles', cursive;
    font-size: 90px;
    text-align: center;
}

.h22{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.pmain{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
}

.boxLetuce{
        width: 300px;
        height: 300px;
        background-color: black;
        color: white;
        padding: 35px;
        margin: 52px 30px 40px 50px;
        margin-top: 200px;
        position: relative;
        text-align: center;
}

.letuce{
    width: 140px;
    height: auto;
    position: absolute;
    top: -75px;
    left: -75px;
    opacity: 1;
    transform: rotate(20deg);  
}
.drink{
    width: 170px;
    height: auto;
    position: absolute;
    top: -90px;
    left: 230px;
    opacity: 1;
    transform: rotate(-20deg);
}

.asideCarta{
  display: block;
  width: 250px;
  margin: 0 auto;
}
.mainBox{
    background-image: url(./assets/descarga.jpg);
    align-content: center;
    border: 2px solid #000;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
}

.divCollage{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 1500px;

}

.sectionMenu{
    display: flex;
    justify-content: space-between;
}


.sectionBlog{
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}

.buttonDesayunos{
  display: block;
  width: 300px;
  margin: 0 auto;
}
.reserve{
    background-color:beige;
    display: flex;
    flex-direction: column;
    width: 330px;
}

.sectionReserve{
    display: flex;
    justify-content: space-around;
    align-content:space-between;
    background-color: blueviolet;
}

h3,img{
    display:inline-block;  
}

.blogOk{
    display: block;
    margin: 0 auto;
    text-align: center;
}